name: DevSecOps CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build application
        run: mvn clean package -DskipTests

      - name: Build Docker image
        run: docker build -t secureapp:ci .

      - name: Gitleaks secrets scan
        uses: gitleaks/gitleaks-action@v2
        with:
         ail: true


      - name: Trivy image scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: secureapp:ci
          severity: CRITICAL
          exit-code: 1
